<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn angular js</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">


</head>
<body ng-app="app">

 <main ng-controller="emp">
  
    <!-- <h1>The sum of {{ ::a }} + {{ b }} = {{ a+b }}</h1> -->

    <!-- <p>The value of a is <span ng-bind="a"></span></p>
    <p>The value of b is <span ng-bind="b"></span></p> -->

    <p>The value of a is {{a}}, but you can change <input type="text" ng-model="a"></p>
    <p>The value of b is {{b}}, but you can change <input type="text" ng-model="b"></p>

    <p>The sum of a and b is: {{ sum }}</p>

    <button ng-click="doSum()">Calculate</button>

    <!-- <button ng-click="doDoubleAndSum()">Calculate</button> -->


 </main>



 

</body>
</html>